/* .saw {
    width: 210px;
    position: absolute;
    right: -96px;
    bottom: -160px;
} */
.mobile {
    display: none;
}

.down {
    margin-bottom: 10% !important;
}

.front-text a {
    color: black !important;
    text-decoration: none;
}

a:hover {
    color: rgb(230, 167, 50)!important;
    text-decoration: none !important;
}

.prod-desc {
    font-size: 2rem;
}

.prod-desc span {
    font-size: 3rem;
}

.saw {
    width: 300px;
    position: absolute;
    right: -137px;
    bottom: -225px;
}

.fill {
    height: 650px;
}

.white {
    color: white;
}

.bold {
    font-weight: bold;
}

.social {
    width: 30px;
    height: 30px !important;
    margin: 1%;
}
.social-wrap {
    display: flex;
    justify-content: flex-end;
    align-content: center;
}

.footer-logo {
    width: 9%;
    margin: 1%;
}

.front-logo-box {
    margin-top: 3% !important;
    position: absolute;
    top: -140px;
}

.front-logo {
    width: 200px;
    margin-bottom: 8%;
}

.front-image {
    width: 40%;
}

.font {
    font-family: 'Patua One', cursive;
}

.front-desc {
    font-size: 1.7rem !important;
    margin-bottom: 10% !important;
    
} 

.front-desc span{
    font-size: 2.2rem;
    
}

.work {
    margin-bottom: 2%;
    position: absolute;
    left: 0px;
    top: -50px;
    font-size: 3rem;;
}

.alt-img {
    width: 100%;
}

.gallery-box img:hover {
    transform: scale(1.5);
}

/* navbar */
a.nav-link:hover {
    color: rgb(190, 148, 68)!important;
}

.nav-link {
    font-family: 'Patua One', cursive !important;
}

.top-class {
    z-index: 1000 !important;
}

.bg-black {
    background-color: black;
}

.btn-outline-grey {
    outline-color: lightgray !important;
}

/* containers */
.black-pad {
    background-color: black;
    height: 30px;
 
}



.wrap2 {
    background-color: rgba(211, 211, 211, 0.466);
    box-shadow: 1px 0px 10px rgb(221, 221, 221) ;
    margin-left: -20px;
    padding: 0 4% 5% 4% !important;
}

.top-box {
    background-color: rgba(255, 255, 255, 0.993);
    width: 120% !important;
    box-shadow: 1px 0px 10px grey ;
    padding: 2.5% 80% 1% 1%;
    position: relative;
    margin-left: -120px !important;
}

/* .bodywrap {
    background-color: rgba(128, 128, 128, 0.24);
    box-shadow: 1px 0px 10px grey ;
    padding: 2.5%;
} */

.padder2 {
    height: 130px;
}

.footer {
    width: 100%;
    height: 120px;
    background-color: black;
}

#custom {
    margin-top: 3% !important;
}

.big-front {
    height: 100%;
}

.bodywrap {
    position: relative;
}

.carousel-wrap {
    width: 100% !important;
}

.carousel-img {
    width: 200px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
   }
   
.carousel-control-next-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
   }

.padder {
    height: 50px;
}

.col1-wrap {
    background-color: rgb(248, 248, 248);
    padding: 5% 2%;

    box-shadow: 1px 10px 10px grey ;
}
/* carousel */

.carousel-img {
    width: 100%;
}

/* form */

.contact-title {
    margin-top: 10%;
}

.contact-text {
    margin-bottom: 5%;
}

.contact-box {
    padding: 0 !important;
}

#name {
    margin: 1% .5% 1% 1%;
}

#email {
    margin: 1% -1% 1% .5%;
    outline-color: lightgray;
}

#name, #email {
    width: 50%;
    outline-color: lightgray;
}

#phone {
    width: 100%;
    margin: 1%;
}

#textarea {
    width: 100%;
    margin: 1%;
}

input {
    border: 1px solid lightgray; 
}

textarea {
    border: 1px solid lightgray; 
}

.submit-button {
    width: 100%;
    margin: -1% 1% 15% 1%;
    border: none;
    background-color: rgb(190, 148, 68)!important;
    height: 50px;
}

.submit-button:hover {
    background-color: rgb(228, 164, 47) !important;
}

/* Gallery */
.big {
    width: 400px !important;
}

.gallery-box img {
    box-shadow: 0 0 10px 1px lightgray;
    transition: 3s all;
}

.row-grid {
    display: flex !important;
    flex-wrap: wrap !important;
    padding: 0 4px !important;
  }
  
  /* Create four equal columns that sits next to each other */
 .column-grid {
    flex: 25% !important;
    max-width: 25% !important;
    padding: 0 4px !important;
  }
  
  .column-grid img {
    margin-top: 8px !important;
    vertical-align: middle !important;
    width: 100% !important;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column-grid {
      flex: 50% !important;
      max-width: 50% !important;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column-grid {
      flex: 100% !important;
      max-width: 100% !important;
    }
  }

  @media (max-width: 550px) {
    .mob-pad {
        margin-bottom: 15% !important;
    }
    .contact-text {
        margin-bottom: 10%;
    }
    .front-logo-box {
        margin-top: 10% !important;
        margin-bottom: 5%;
        z-index: 99;
    }
    .padder2 {
        height: 150px;
    }
    .navbar-toggler {
        z-index: 100;
    }
    .black-pad {
        display: none
    }
    .front-logo-box {
        margin-top: 3% !important;
        position: absolute;
        top: -80px;
    }
    .footer-logo {
        width: 110px;
    }
    li {
        z-index: 100 !important;
    }

    .top-box {
        width: 90% !important;
        padding: 5% !important;
        margin-left: 17px !important;
        margin-top: 20%;
        text-align: center;
        box-shadow: none;
    }
    .work {
        left: 40px;
    }
    .desktop {
        display: none;
    }
    .wrap2 {
        background-color: white;
        box-shadow: none;
    }
    .mobile {
        display: block;
    }
    .prod-desc {
        margin-bottom: 30px;
}